@include style_separator(test, global, admin) {
  //---jQuery UI---*/

  .ui-helper-hidden {
    display: none;
  }

  .ui-helper-hidden-accessible {
    z-index: 5000;
    position: absolute;
    opacity: 0;
    left: 0;
    color: transparent;
    visibility: hidden;
  }

  //-------------------------------------------------------ui-dialog
  .ui-dialog {
    z-index: 1000;
    position: absolute;
    display: none;
    outline: 0;

    .no_animation & {
      display: none !important;
    }

    &.dialog_g_size_1 {
      @include respond-to-max($resp_step_3) {
        max-width: 96%;
        margin: 0 auto !important;
        left: 0 !important;
        right: 0 !important;
      }
    }

  }

  .dialog_global {

  }

  .ui-resizable-handle {
    display: none !important;
  }

  .ui-widget-overlay {
    z-index: 500;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparentize(#000, .5);
  }

  .ui-helper-clearfix {
    display: block;
    &:after {
      display: block;
      height: 0;
      clear: both;
      content: "";
      visibility: hidden;
    }
  }

  .ui-dialog-titlebar-close {
    .dialog_close_butt_mod_1 & {
      @extend %icon_pseudo;
      position: absolute;
      top: 50%;
      width: 32px;
      height: 32px;
      margin-top: -16px;
      right: 3px;
      text-align: center;
      background: none;

      &:before {
        content: $i-close;
        line-height: 32px;
        font-size: 12px;
        color: #aaa;
      }

    }

    .no_close_mod & {
      display: none !important;
    }

    .no_title_mod & {
    }

  }

  .ui-dialog-titlebar {
    .dialog_g_size_1 & {
      background: #fff;
      border-radius: 3px 3px 0 0;
      padding: 20px 15px;
      position: relative;
      cursor: move;
      font-size: 18px;
      color: #333;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        border-bottom: 1px solid #d9d9d9;
      }
    }

  }

  .ui-dialog-title {
    .no_title_mod & {
      font-size: 0 !important;
    }

    .dialog_colorschema_1_mod & {
      //создать цветовую схему
    }
  }

  .ui-dialog-content {
    position: relative;

    .no_title_mod & {
      border-radius: 6px;
    }

    .dialog_g_size_1 & {
    }
  }

  .dialog_g_butt_wrap {

  }

  //---------------------------------------------------------------------ui-dialog

}
