$icomoon-font-path: "fonts" !default;

$i-happy: "\e910";
$i-cotton: "\e900";
$i-arrow-down: "\e901";
$i-delivery-01: "\e902";
$i-fast_delivery: "\e903";
$i-confirmed: "\e904";
$i-chevron-left: "\e905";
$i-payment: "\e906";
$i-percent: "\e907";
$i-arrow-left: "\e913";
$i-arrow-right: "\e908";
$i-chevron-right: "\e909";
$i-star: "\e90a";
$i-thumbs_up: "\e90b";
$i-timer: "\e90c";
$i-graduate: "\e90d";
$i-close: "\e914";
$i-phone: "\e911";
$i-envelope: "\e912";
$i-smile: "\e90f";
$i-check: "\e90e";

